html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

html body {
    font-size: 1.2rem;
    padding: 0px;
    margin: 0px;
}

.main {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.side-hero {
    flex-grow: 1;
    position: relative;
    width: 60vw;
    min-width: 345px;
    height: 100vh;
    background: url(../images/background-image.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.side-hero div {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 2rem;
    padding: 0px 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-hero img {
    width: 5rem;
    padding: 10px;
}

.side-hero p {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0px;
    right: 5px
}

.form-section {
    display: flex;
    width: 60vw;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-grow: 2;
    background-color: lightgray;
}

.input-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 1.2rem;
    box-shadow: 0 5px 5px rgb(121, 120, 120);
}

.header, .submit-section {
    padding: 0 2vw;
}

.header, .side-hero, .submit-section button {
    font-size: bold;
}

form {
    display: flex;
    width: 60vw;
    flex-flow: row wrap;
    gap: 1rem;
    font-size: 1rem;
}

label {
    position: relative;
    /* background-color: red; */
    width: 15rem;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: blue;
}

.submit-section {
    margin-top: 2rem;
}

button {
    padding: 0.8rem;
    font-size: 1.3rem;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
    letter-spacing: -1px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: purple;
    cursor: pointer;
}
a:hover {
    color: purple;
}

input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
    font-size: 0.9rem;
    margin-top: 3px;
}

input:focus {
    border: none;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.3);
    outline: none;
}



@media  screen and (max-width: 850px) {
    .main {
        flex-direction: column;
    }

    .side-hero {
        width: 100vw;
        height: 20rem;
    }

    .header div, .input-section, .submit-section div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form-section, form, .submit-section {
        /* background-color: red; */
        width: 100vw;
        justify-content: center;
    }

    @media screen and (max-width: 505px) {
        label {
            /* background-color: red; */
            margin-bottom: 25px;
        }
    }
}